header ul{
  display: grid;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  grid-template-columns: 50px 600px 50px 50px 50px 150px 85px 30px;
  margin-bottom: 40px;
}

header ul li{
  font-size: 20px;
}

.menu-icon > .line {
  background-color: black;
  height: 2px;
  width: 30px;
  display: block;
}

.menu-icon > .line + .line {
  margin-top: 8px;
}

.title{
  font-size: 30px;
}

.social{
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 1100px){
  header ul{
    display: grid;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    grid-template-columns: 50px 400px 50px 50px 50px 150px 85px 30px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 900px){
  header ul{
    display: grid;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    grid-template-columns: 50px 200px 50px 50px 50px 50px 85px 30px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 600px){
  header ul{
    display: grid;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    grid-template-columns: 40px 200px 30px 30px 30px 30px;
    margin-bottom: 40px;
  }

  .header_menu{
    margin-top: 10px;
    grid-row: 2;
    grid-column: 2;
  }
  .menu-icon{
    margin-top: 10px;
    grid-row: 1;
  }
}

/*---SLIDER---*/
* {box-sizing:border-box}

.img{
  height: 500px;
  width: 80%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

.mySlides {
  margin-top: 100px;
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

.text_slide {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
  text-align: center;
}

.slider_dot{
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
}

@-webkit-keyframes fade {
  0% {opacity: 0}
  20%{opacity: 1}
  80%{opacity: 1}
  100% {opacity: 0}
}

@keyframes fade {
  0% {opacity: 0}
  20%{opacity: 1}
  80%{opacity: 1}
  100% {opacity: 0}
}

@media screen and (max-width: 600px){
  .img{
    height: 250px;
    width: 80%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
}

/*---SLIDER_END---*/
/*---FIRST_DESCRITPION---*/
.first_description_container{
  display: grid;
  justify-content: center;
  margin-top: 100px;
  column-gap: 50px;
  row-gap: 5px;
  grid-template-columns: 400px 400px;
  grid-template-rows:25px 60px 350px 70px;
}

.one{
  margin-top: 0px;
  font-size: 20px;
  color: rgb(214, 214, 67);
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.two{
  margin-top: 0px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.three{
  grid-column-start: 1;
  grid-column-end: 1;
}

.four{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
}

.five{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.first_description_container span{
  height: 420px;
  width: 300px;
  background-color: rgb(201, 201, 201);
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

@media screen and (max-width: 900px){
  .first_description_container{
    display: grid;
    justify-content: center;
    margin-top: 100px;
    column-gap: 50px;
    row-gap: 5px;
    grid-template-columns: 200px 400px;
    grid-template-rows:25px 60px 350px 70px;
  }
}

@media screen and (max-width: 700px){
  .first_description_container{
    display: grid;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    column-gap: 25px;
    row-gap: 5px;
    grid-template-columns: 200px 200px;
    grid-template-rows:25px 60px 200px 70px;
  }

  .five{
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .first_description_container span{
    opacity: 0;
    height: 0;
  }
}
@media screen and (max-width: 450px){
  .first_description_container{
    display: grid;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    column-gap: 15px;
    row-gap: 5px;
    grid-template-columns: 150px 200px;
    grid-template-rows:25px 120px 300px 70px;
  }

  .five{
    height:85%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .first_description_container span{
    opacity: 0;
    height: 0;
  }
}
@media screen and (max-width: 400px){
  .first_description_container{
    display: grid;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    row-gap: 5px;
    grid-template-columns: 200px;
    grid-template-rows:25px 90px 250px 200px 70px;
  }

  .three{
    grid-column-start: 1;
    grid-column-end: 1;

    grid-row-start: 4;
    grid-row-end: 4;
  }
  
  .four{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .five{
    height:100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
  }

  .first_description_container span{
    opacity: 0;
    height: 0;
    grid-column-start: 1;
    grid-column-end: 1;
  }
}
/*---END_FIRST_DESCRITPION---*/
/*---FOUR_IMAGES_DESCRITPION---*/
.four_images_container{
  margin-top: 150px;
}

.four_images_list{
  list-style-type: none;
  display: grid;
  justify-content: center;
  grid-template-columns: 750px 75px 75px 75px 75px;
  grid-template-rows: 50px;
  padding: 0;
}

.four_images_list li{
  margin-right: 75px;
  font-size: 20px;
}

.four_images{
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px 400px 400px;
  grid-template-rows: 400px;
  padding: 0;
  margin: 0;
}

.four_images_container_images{
  position: relative;
  width: 100%;
}

.four_images_container_images .four_images_images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100%;
}

.four_images_text_title{
  color: white;
  font-size: 25px;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 15%;
  width: 32%;
}

.four_images_text_desc{
  opacity: 0;
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-align: left;
  position: absolute;
  top: 35%;
  left: 15%;
  width: 75%;
}

.four_images_text_link > a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-align: left;
  position: absolute;
  top: 85%;
  left: 15%;
  width: 100%;
}
.four_images_container_images:hover .four_images_text_desc{
  opacity: 1;
}

.four_images_container_images:hover .four_images_text_title{
  top: 1%;
}

.four_images_title{
  font-size: 20px;
}

.four_images_dot{
  height: 15px;
  width: 15px;
  margin-top: 5px;
  background-color: rgb(214, 214, 67);
  border-radius: 50%;
  display: inline-block;
}

.four_images_choices{
  color: rgb(158, 158, 158);
}

.four_images_one{
  font-size: 30px;
}

@media screen and (max-width: 1650px){
  .four_images{
    display: grid;
    justify-content: center;
    row-gap: 30px;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 400px;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 1100px){
  .four_images_list{
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 75px 75px 75px 75px;
    grid-template-rows: 50px;
    padding: 0;
  }
}

@media screen and (max-width: 830px){
  .four_images_list{
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 25px 75px 75px 75px;
    grid-template-rows: 50px;
    padding: 0;
  }

  .four_images_list li{
    margin-right: 0px;
    font-size: 20px;
  }

  .four_images{
    display: grid;
    justify-content: center;
    row-gap: 30px;
    grid-template-columns: 400px;
    grid-template-rows: 400px 400px 400px;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 700px){
  .four_images_list{
    grid-template-columns: 200px 75px 75px 75px;
    grid-template-rows: 50px;
  }
  .four_images_two{
    opacity: 0;
  }
  .four_images_three{
    grid-column: 2;
    grid-row: 1;
  }
  .four_images_four{
    grid-column: 3;
    grid-row: 1;
  }
  .four_images_five{
    grid-column: 4;
    grid-row: 1;
  }
}

@media screen and (max-width: 450px){
  .four_images_one{
    font-size: 20px;
  }

  .four_images_list{
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 150px 75px 75px 75px;
    grid-template-rows: 70px;
    padding: 0;
  }

  .four_images_container_images .four_images_images{
    width: 80%;
  }

  .four_images_list{
    grid-template-columns: 125px 60px 60px 60px;
    grid-template-rows: 70px;
  }
}
/*---END_FOUR_IMAGES_DESCRITPION---*/

/*---FROM_GREAT_OUR_CLIENTS---*/
.from_great_our_clients{
  margin-top: 150px;
  position: relative;
}

.background{
  background-color: rgb(201, 201, 201);
  margin: 0 auto;
  width: 90%;
  height: 700px;
  display: center;
}

.clients_left{
  background-color: rgb(241, 241, 241);
  width: 25%;
  height: 225px;
  position: absolute;
  top: 35%;
  left: 20%;
}

.span_left{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 21%;
  background-color: rgb(214, 214, 67);
  display: inline-block;
}

.clients_left > h4{
  position: absolute;
  top: 20%;
  left: 5%;
}
.clients_left > p{
  position: absolute;
  top: 40%;
  left: 5%;
  width: 80%;
}

.clients_right{
  background-color: rgb(241, 241, 241);
  width: 25%;
  height: 225px;
  position: absolute;
  top: 35%;
  right: 20%;
}

.span_right{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 56%;
  background-color: rgb(214, 214, 67);
  display: inline-block;
}

.clients_right > h4{
  position: absolute;
  top: 20%;
  left: 5%;
}
.clients_right > p{
  position: absolute;
  top: 40%;
  left: 5%;
  width: 80%;
}

.from_great_our_clients h3{
  font-size: 30px;
  position: absolute;
  top: 10%;
  left: 20%;
}

.from_great_our_clients ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 80%;
}

@media screen and (max-width: 1200px){
  .clients_right{
    background-color: rgb(241, 241, 241);
    width: 25%;
    height: 300px;
    position: absolute;
    top: 35%;
    right: 20%;
  }
  .clients_left{
    background-color: rgb(241, 241, 241);
    width: 25%;
    height: 300px;
    position: absolute;
    top: 35%;
    right: 20%;
  }

  .from_great_our_clients ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 87%;
  }
}

@media screen and (max-width: 800px){
  .clients_left > h4{
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .clients_right > h4{
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .clients_right > p{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 80%;
  }
  .clients_left > p{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 80%;
  }
}

@media screen and (max-width: 700px){
  .from_great_our_clients h3{
    font-size: 30px;
    position: absolute;
    top: 2%;
    left: 25%;
  }

  .background{
    background-color: rgb(201, 201, 201);
    margin: 0 auto;
    width: 90%;
    height: 1000px;
    display: center;
  }

  .clients_left{
    background-color: rgb(241, 241, 241);
    width: 70%;
    height: 200px;
    position: absolute;
    top: 15%;
    left: 15%;
  }
  
  .span_left{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: absolute;
    top: 11%;
    left: 17%;
    background-color: rgb(214, 214, 67);
    display: inline-block;
  }
  
  .clients_left > h4{
    position: absolute;
    top: 2%;
    left: 25%;
  }
  .clients_left > p{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 80%;
  }
  
  .clients_right{
    background-color: rgb(241, 241, 241);
    width: 70%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 15%;
  }
  
  .span_right{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: absolute;
    top: 46%;
    left: 17%;
    background-color: rgb(214, 214, 67);
    display: inline-block;
  }
  
  .clients_right > h4{
    position: absolute;
    top: 2%;
    left: 25%;
  }
  .clients_right > p{
    position: absolute;
    top: 20%;
    left: 5%;
    width: 80%;
  }

  .from_great_our_clients ul{
    list-style: none;
    display: flex;
    position: absolute;
    left: 15%;
    top: 80%;
  }

  .from_great_our_clients ul li{
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px){
  .from_great_our_clients h3{
    font-size: 30px;
    position: absolute;
    top: 2%;
    left: 20%;
  }
}

@media screen and (max-width: 450px){
  .from_great_our_clients h3{
    font-size: 20px;
    position: absolute;
    top: 5%;
    left: 25%;
  }
  
  .from_great_our_clients ul{
    list-style: none;
    display: block;
    line-height: 35px;
    left: 30%;
    top: 75%;
  }

  .clients_left > h4{
    position: absolute;
    top: 2%;
    left: 35%;
  }

  .clients_right > h4{
    position: absolute;
    top: 2%;
    left: 35%;
  }
}
/*---END_FROM_GREAT_OUR_CLIENTS---*/
/*---LATEST_NEWS---*/

.latest_news{
  margin-top: 100px;
  font-size: 20px;
}

.latest_news ul{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.latest_news_images{
  justify-content: center;
  margin-top: 50px;
  padding: 0;
}

.latest_news_images_img{
  margin-right: 75px;
  width: 300px;
  height: 300px;
}

.last{
  margin-right: 0;
}

@media screen and (max-width: 1100px){
  .latest_news_images_img{
    margin-right: 20px;
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 700px){
  .latest_news_images{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px){
  .latest_news_images_img{
    margin: 0;
  }

  .latest_news > ul{
    padding: 0;
    display: block;
    text-align: center;
  }
}
/*---END_LATEST_NEWS---*/

/*---FOOTER---*/
footer{
  margin-top: 150px;
}

footer ul{
  display: grid;
  list-style-type: none;
  justify-content: center;
  grid-template-columns: 50px 300px 300px 300px 300px 50px 50px 50px 50px;
  margin-bottom: 40px;
}

footer ul li{
  font-size: 20px;
}

.social_f{
  height: 25px;
  width: 25px;
}

.footer_info{
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1570px){
  footer ul{
    display: grid;
    list-style-type: none;
    justify-content: center;
    grid-template-columns: 50px 150px 150px 150px 150px 50px 50px 50px 50px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 900px){
  footer ul{
    display: grid;
    list-style-type: none;
    justify-content: center;
    grid-template-columns: 50px 100px 100px 100px 100px 30px 30px 30px 30px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 700px){
  footer ul{
    display: grid;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50px 150px 100px;
    grid-template-rows: 80px;
    margin-bottom: 80px;
  }

  .footer_three{
    grid-column: 3;
    grid-row: 2;
  }
  .footer_four{
    grid-column: 3;
    grid-row: 3;
  }

  .social_f_one{
    grid-row: 2;
    grid-column: 1;
  }
  .social_f_two{
    grid-row: 2;
    grid-column: 1;
  }
  .social_f_three{
    grid-column: 2;
  }
}